{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'manageevents/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
    </div>

    <div class="left-container">
        <div class="list-institutes">
            {% for i in list_university %}
                <div class="one-institute">
                    <a href="#">{{ i.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="middle-container">
        <div class="posts">
            {% for i in posts %}
                <div class="card">
                    <a href="#">
                        <div class="card-one">
                            {% if i.preview %}
                            <img class="post-img" src="{{ i.preview.url }}" alt="#">
                            {% endif %}
                            <p class="title">{{ i.title|truncatechars:20 }}</p>
                            <div class="card-information">
                            <p class="left-part">{{ i.date_of_event|date:"SHORT_DATE_FORMAT"}} {{ i.time_of_event }}</p>
                            <p class="rigth-part">{{ i.organizer }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="right-container">
        <div class="chat">

        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>